body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    margin: 20px;
}
h1, h2 {
    text-align: center;
}
h1 {
    color: darkblue;
}
h2 {
    color: green;
}
h3 {
    color: darkred;
}
p{
    color: rebeccapurple;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
    border: 4px solid #333333;
}